---
layout: default
---
<div class="home">
  
  {%- if site.posts.size > 0 -%}
	
	<ul class="post-list">
	  
	  {% for post in paginator.posts %}
	  
	  <li>
		<h3>
		  <a class="post-link" href="{{ post.url | relative_url }}">
			{{ post.title | escape }}
		  </a>
		</h3>
		
		{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
		<span class="post-list-tips">时间: {{ post.date | date: date_format }}</span>
		
		<span class="post-list-tips">类别: 
		  {% if post.categories contains 'Discrete_Mathematics' %}
			<a class="post-meta-content-a" href="/category/{{ page.categories }}.html">离散数学</a>
		  {% elsif post.categories contains 'HighSchool_Time' %}
			<a class="post-meta-content-a" href="/category/{{ page.categories }}.html">中学时代</a>
		  {% elsif post.categories contains 'University_Essay' %}
			<a class="post-meta-content-a" href="/category/{{ page.categories }}.html">大学随笔</a>
		  {% else %}
			<a class="post-meta-content-a" href="/category/{{ page.categories }}.html">{{ post.categories }}</a>
		  {% endif %}
		</span>
	   
	    <span class="post-list-tips">字数: {{ post.content | number_of_words }}</span>
	   
	   {% if site.leancloud.enable %}
		   <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">浏览量:
			   <span class="old-visitors-count" style="display: none;"></span>
			   <span class="leancloud-visitors-count"></span>
			   <span class="post-meta-item-text"></span>
		   </span>
	   {% endif %}	  

	   {%- if site.show_excerpts -%}
		<span class="post-list-excerpt">摘要: {{ post.excerpt | strip_html }}</span>
	   {%- endif -%}
	  </li>
	  
	  {% endfor %}
	
	</ul>
<!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
  {%- endif -%}
  
</div>


<!-- 分页链接 -->


{% if paginator.total_pages > 1 %}
<div class="pagination" align="center">
  {% if paginator.page == 1 %}
    <span>首页&nbsp;</span>
  {% else %}
    <a href="/">首页&nbsp;</a>
  {% endif %}

  {% if paginator.previous_page %}
    <a title="上一页" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><<&nbsp;</a>
  {% else %}
    <span><<&nbsp;</span>
  {% endif %}

  {% if paginator.page <= 7 %}
	  {% for count in (1..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% elsif count == 1 %}
		  <a href="/">&nbsp;{{ count }}&nbsp;</a>
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 11 %}
	  {% for count in (5..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 15 %}
	  {% for count in (9..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 19 %}
	  {% for count in (13..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 23 %}
	  {% for count in (17..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 27 %}
	  {% for count in (21..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 31 %}
	  {% for count in (25..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}
  {% elsif paginator.page <= 35 %}
	  {% for count in (29..paginator.total_pages) limit:8 %}
		{% if count == paginator.page %}
		  &nbsp;{{ count }}&nbsp;
		{% else %}
		  <a href="/page{{count}}">&nbsp;{{ count }}&nbsp;</a>
		{% endif %}
	  {% endfor %}	  
  {% endif %}

  {% if paginator.next_page %}
    <a title="下一页" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp;>>&nbsp;</a></a></a>
  {% else %}
    <span>&nbsp;>>&nbsp;</span></span></span>
  {% endif %}
  
  {% if paginator.page == paginator.total_pages %}
    <span>尾页&nbsp;</span>
  {% else %}
    <a href="/page{{ paginator.total_pages }}">尾页&nbsp;</a>
  {% endif %}
</div>
{% endif %}