---
layout: default
---

<div class="home">
  
<!--
  <div c lass="search">
  <input placeholder="第{{paginator.page}}页, 共{{paginator.total_pages}}页, 点我搜索文章" type="text" class="st-default-search-input">
  </div> 
-->
  
  {%- if site.posts.size > 0 -%}
	
	<ul class="post-list">
	  
	  {% for post in paginator.posts %}
	  
	  <li>
		<h3>
		  <a class="post-link" href="{{ post.url | relative_url }}">
			{{ post.title | escape }}
		  </a>
		</h3>
		
		{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
		<span class="post-list-tips">{{ post.date | date: date_format }}</span>
		
		<span class="post-list-tips"> 
		  {% if post.categories contains 'Discrete_Mathematics' %}
			<a class="post-meta-content-a" href="/category/{{ 'Discrete_Mathematics' | downcase }}.html">离散数学</a>
		  {% elsif post.categories contains 'HighSchool_Time' %}
			<a class="post-meta-content-a" href="/category/{{ 'HighSchool_Time' | downcase }}.html">中学时代</a>
		  {% elsif post.categories contains 'University_Essay' %}
			<a class="post-meta-content-a" href="/category/{{ 'University_Essay' | downcase }}.html">大学随笔</a>
		  {% elsif post.categories contains 'C' %}
			<a class="post-meta-content-a" href="/category/{{ 'C' | downcase }}.html">C 语言</a>
		  {% elsif post.categories contains 'Git' %}
			<a class="post-meta-content-a" href="/category/{{ 'Git' | downcase }}.html">Git 学习笔记</a>
		  {% elsif post.categories contains 'Computer_Science' %}
			<a class="post-meta-content-a" href="/category/{{ 'Computer_Science' | downcase }}.html">计算机科学</a>
		  {% else %}
			<a class="post-meta-content-a" href="/category/{{ post.categories | downcase }}.html">{{ post.categories }}</a>
		  {% endif %}
		</span>
	   
	    <span class="post-list-tips">{{ post.content | strip_html | strip_newlines | strip_space | split: "" | size }} 字</span>
	   
	   {% if site.leancloud.enable %}
		   <span id="{{ post.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}"> 
			   <span class="leancloud-visitors-count"></span>
			   <span class="post-list-tips">次浏览</span>
		   </span>
	   {% endif %}	  

	   {%- if site.show_excerpts -%}
		<span class="post-list-tips">{{ post.excerpt | strip_html }}</span>
	   {%- endif -%}
	  </li>
	  
	  {% endfor %}
	
	</ul>
<!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
  {%- endif -%}
  
</div>


<!-- 分页链接 -->


{% if paginator.total_pages > 1 %}
<div class="pagination" align="center">
  {% if paginator.page == 1 %}
    <span>首页&nbsp;</span>
  {% else %}
    <a href="/">首页&nbsp;</a>
  {% endif %}

  {% if paginator.previous_page %}
    <a title="上一页" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><<&nbsp;</a>
  {% else %}
    <span><<&nbsp;</span>
  {% endif %}

  {% if paginator.page <= 5 %}
	  {% for count in (1..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 8 %}
	  {% for count in (4..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 11 %}
	  {% for count in (7..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 14 %}
	  {% for count in (10..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 17 %}
	  {% for count in (13..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 20 %}
	  {% for count in (16..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 23 %}
	  {% for count in (19..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}
  {% elsif paginator.page <= 26 %}
	  {% for count in (22..paginator.total_pages) limit:6 %}
		{%- include paginator_page.html -%}
	  {% endfor %}	  
  {% endif %}

  {% if paginator.next_page %}
    <a title="下一页" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp;>>&nbsp;</a></a></a>
  {% else %}
    <span>&nbsp;>>&nbsp;</span></span></span>
  {% endif %}
  
  {% if paginator.page == paginator.total_pages %}
    <span>尾页&nbsp;</span>
  {% else %}
    <a href="/page{{ paginator.total_pages }}">尾页&nbsp;</a>
  {% endif %}
</div>
{% endif %}