---
layout: default
---
<div class="home">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
        <p class="post-meta">{{ post.date | date: date_format }}</p>
        <p class="post-meta">
		{%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html }}
        {%- endif -%}
		</p>
      </li>
      {% endfor %}
    </ul>

<!--
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
  {%- endif -%}
  
</div>


<!-- 分页链接 -->

{% if paginator.total_pages > 1 %}
<div class="pagination" align="center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页&nbsp;</a>
  {% else %}
    <span>上一页&nbsp;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      &nbsp;{{ page }}&nbsp;
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp;{{ page }}&nbsp;</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">&nbsp;{{ page }}&nbsp;</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&nbsp;下一页</a>
  {% else %}
    <span>&nbsp;下一页</span>
  {% endif %}
</div>
{% endif %}