---
layout: default
---

<div class="home">

	<h2 class="post-list-heading">
		计算机科学<br>
		<em>Computer Science</em>
	</h2>

	<ul class="post-category-list">
		{% for post in site.categories.Computer_Science_Introduction reversed %}
			<li>
				<h3>
					{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
					<span class="post-category-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					<span class="post-category-meta">{{ post.date | date: date_format }}</span>
				</h3>
			</li>
		{% endfor %}

		{% for post in site.categories.Discrete_Mathematics reversed %}
			<li>
				<h3>
					{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
					<span class="post-category-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					<span class="post-category-meta">{{ post.date | date: date_format }}</span>
				</h3>
			</li>
		{% endfor %}
		
		{% for post in site.categories.C reversed %}
			<li>
				<h3>
					{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
					<span class="post-category-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					<span class="post-category-meta">{{ post.date | date: date_format }}</span>
				</h3>
			</li>
		{% endfor %}

		{% for post in site.categories.Python reversed %}
			<li>
				<h3>
					{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
					<span class="post-category-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					<span class="post-category-meta">{{ post.date | date: date_format }}</span>
				</h3>
			</li>
		{% endfor %}

		{% for post in site.categories.Git reversed %}
			<li>
				<h3>
					{%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
					<span class="post-category-link"><a href="{{ post.url }}">{{ post.title }}</a></span>
					<span class="post-category-meta">{{ post.date | date: date_format }}</span>
				</h3>
			</li>
		{% endfor %}
		
	</ul>

</div>
