/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  
  // Positioning context for the mobile navigation icon
  position: relative;
  
  @include media-query($on-palm) {
     position: fixed;
	 width: 100%;
	 background-color:white;
  }

}

.site-post-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  
  // Positioning context for the mobile navigation icon
  position: relative;
  
  @include media-query($on-palm) {
     position: fixed;
	 top:0;
	 width: 100%;
	 background-color:white;
	 z-index: 1;
  }
  
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-title-img {
	float:left;
	margin: 0px 12px 0px 0px;
	padding: 6px 0px 4px 0px;
	height: 46px;
}

.site-title-title {
	float:left;
}

.site-post-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 2%;
    right: 4%;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 12px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-right: 0px;
}

.footer-col-1 {
  width: 136px;
}

.footer-col-2 {
  width: 430px;
}

.footer-col-3 {
  width: 144px;
}

.footer-img {
	height:16px;
	margin-right:4px;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 36px 0px 10px 0px;
  flex: 1 1 0%;
  
  @include media-query($on-palm) {
      margin: 54px 0px 0px 0px;
	  padding: 30px 0px 16px 0px;
  }
 
}

.page-post-content {
  padding: 24px 0px 16px 0px;
  flex: 1 1 0%;
  
  @include media-query($on-palm) {
      margin: 54px 0px 0px 0px;
	  padding: 20px 0px 16px 0px;
      overflow-y: scroll;  
	  z-index: -1;
  }
 
}

.search {
  text-align: left;
  margin: 0px 0px 20px 0px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.5);
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.post-list {
  margin: 0px 0px 20px 0px;

  > li {
    margin-bottom: 30px;
	list-style: none;
  }
}

.post-category-list {
  list-style:none;
  margin:0px;
}

.post-list-tips {
  font-size: $small-font-size;
  color: $grey-color;
  margin-right: 8px;
}

.leancloud_visitors{
  font-size: $small-font-size;
  color: $grey-color;
}

.post-list-excerpt {
  font-size: $small-font-size;
  color: $grey-color;
  display: block;
}

.post-link {
  display: block;
  @include relative-font-size(1.4);
}

.post-category-link {
  font-size: 16px;
  margin: 4px 0px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-category-meta {
  font-size:14px;
  text-align: right;
  float:right;
  padding:2px 0px;
  margin: 4px 0px;
  color: $grey-color;
}

.post-meta-content {
	margin: 0px 8px 0px 4px;
}

.post-meta-content-a {
	&:link {
		color: $grey-color;
	}
	&:visited {
		color: $grey-color;
	}
	&:hover {
		color: #0000CC;
	}
	&:active {
		color: #0000CC;
	}
}

.post-meta-item-text{
	font-size: $small-font-size;
	color: $grey-color;
	margin-right: 8px;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: 20px;
  text-align: center;
}


.post-title {
  margin: 0px 0px 16px 0px;
  font-size: 26px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
  
  @include media-query($on-palm) {
    font-size: 22px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.comment-tips{
	margin-top: 40px;
	font-size: 16px;
	font-style: normal;
	font-family: 'Times New Roman', Arial, KaiTi, STKaiTi,	SimSun, 'Microsoft YaHei';
}

.quote-style{
	font-size: 16px;
	font-style: normal;
	font-family: 'Times New Roman', Arial, KaiTi, STKaiTi,	SimSun, 'Microsoft YaHei';
}

.post-index{
	width: 734px;
	height: 50px;
	margin: 25px 0px 25px 0px;
}

.post-index-up{
	text-align: left;
	width: 367px;
}

.post-index-down{
	text-align: left;
	width: 367px;
}

a:link {text-decoration: none}		/* 未访问的链接 */
a:visited {text-decoration: none}	/* 已访问的链接 */
a:hover {text-decoration: none}	/* 鼠标移动到链接上 */
a:active {text-decoration: none}	/* 选定的链接 */

.pagination {
	padding: 20px 0px 0px 0px;
	
	@include media-query($on-palm) {
	  padding: 0px 0px 0px 0px;
	}
}

.proof-style{
	padding: 0px 16px;
	text-align: justify;
}

.code-style{
	margin: 12px 0px;
	padding: 0px 32px;
}

.post-style{

	@include media-query($on-palm) {
		text-indent: 0px;
		text-align: left;
		line-height: 24px;
	}


	text-indent: 32px;
	line-height: 28px;
	font-size: 16px;
	
	> p {
		margin: 0px 0px;
		@include media-query($on-palm) {
			margin: 10px 0px;
		}
	}
	
	> h1 {
		text-indent: 0px;
		font-weight: 540;
		font-size: 24px;
		margin: 20px 0px;
		
		@include media-query($on-palm) {
			font-size: 135%;
		}
	}
	
	> h2 {
		text-indent: 0px;
		font-weight: 540;
		font-size: 20px;
		margin: 20px 0px;
		
		@include media-query($on-palm) {
			font-size: 115%;
		}
	}
	
	> ul {
		list-style-type: disc;
		list-style-position: inside;
		margin:8px 32px;
		font-size: 14px;
		text-indent: -20px;
		padding-left: 20px;
		
		@include media-query($on-palm) {
			margin: 10px 0px;
			text-indent: -5.5%;
			padding-left: 5.5%;
		}

	}
	
	text-align: justify;
	
	.post-text-center{
		text-indent: 0px;
		margin: 12px 0px;
		padding: 0px 32px;
		text-align: center;
		font-size: 14px;
	}
	
	.post-text-tablename{
		text-indent: 0px;
		margin: 8px 0px;
		text-align: center;
		font-size: 14px;
	}
	
	.post-text-noindent{
		text-indent: 0px;
	}
	
	.post-text-formula{
		margin: 0px 0px;
	}
	
	> blockquote{
		margin: 10px 32px;
		font-size: 16px;
		font-style: normal;
		font-family: 'Times New Roman', Arial, KaiTi, STKaiTi,	SimSun, 'Microsoft YaHei';
		text-indent: 0px;
		
		@include media-query($on-palm) {
			margin: 12px 0px;
		}
	}
	
	.blockquote-code{
		text-indent: 0px;
	}
	
}

.natural-science{
	text-align: center;
	margin: 8px 0px 16px 0px;
}

.natural-science-category {
	margin: 0px 12px;
	font-size: 20px;
	
	@include media-query($on-palm) {
			margin: 0px 10px;
	}

}