<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript">
    var ht = 100;
    var ft = 2000;
    $('.site-header').hide();
    $('.page-content').hide();
    $('.footer-heading').hide();
    $('.footer-col-wrapper').hide();
    setTimeout(function(){$('.site-header').show(ft)},ht);
    setTimeout(function(){$('.page-content').fadeIn(ft)},ft);
    setTimeout(function(){$('.footer-heading').fadeIn(ft)},ft * 2);
    setTimeout(function(){$('.footer-col-wrapper').fadeIn(ft)},ft * 2);
    </script>
  </body>
</html>
