<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- web analysis supported by Baidu -->
{% include baidu-analytics.html %}

<!-- search function supported by Swiftype -->

<!-- read counts function supported by leancloud -->
{% include leancloud-analytics.html %}

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  
</html>
