---
layout: post-default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-title" itemprop="name headline">{{ page.title | escape }}</div>
    <div class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d %H:%M" -%}
      <span class="post-meta-content">发表于 {{ page.date | date: date_format }}</span><br>
      <span class="post-meta-content">分类: 
	  {% if page.categories contains 'Computer_Science' %}
		<a class="post-meta-content-a" href="/category/natural_science.html">计算机科学</a>
	  {% elsif page.categories contains 'Mathematics' %}
		<a class="post-meta-content-a" href="/category/mathematics.html">数学</a>
	  {% elsif page.categories contains 'Statistics' %}
		<a class="post-meta-content-a" href="/category/statistics.html">统计学</a>
	  {% elsif page.categories contains 'Humanities' %}
		<a class="post-meta-content-a" href="/category/humanities.html">人文社科</a>
	  {% elsif page.categories contains 'HighSchool_Time' %}
		<a class="post-meta-content-a" href="/category/highSchool_time.html">中学时代</a>
	  {% elsif page.categories contains 'University_Essay' %}
		<a class="post-meta-content-a" href="/category/university_essay.html">大学随笔</a>
      {% else %}
		<a class="post-meta-content-a" href="/category/{{ page.categories }}.html">{{ page.categories }}</a>
	  {% endif %}
	  </span>

	  <span class="post-list-tips">字数: {{ page.content | strip_html | strip_newlines | strip_space | split: "" | size }}</span>
	  
   {% if site.leancloud.enable %}
       <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">浏览量: 
	    <span class="leancloud-visitors-count"></span>
		<span class="post-meta-item-text"></span>
       </span>
   {% endif %}	  
	  
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
	 </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>                       
  
  <div class="post-index">
	  {%- if page.previous -%}
		<div class="post-index-up"><a href="{{ page.previous.url }}">上一篇：{{ page.previous.title }}</a></div>
	  {%- endif -%}
	  {%- if page.next -%}
		<div class="post-index-down"><a href="{{ page.next.url }}">下一篇：{{ page.next.title }}</a></div>
	  {%- endif -%}
  </div>

  <div class="comment-tips">
	文章评论功能由第三方评论系统 LiveRe 提供，存在三个问题：<br>
	1.简单评论功能无法使用；<br>
	2.手机端无法使用微信登录,电脑端可以；<br>
	3.手机竖屏模式下可能找不到QQ、微博、百度社交账号的登录入口，横屏模式下无此问题。<br>
	对因上述问题给您评论或留言造成的不便，笔者深表歉意！<br>
  </div>
  
  
  {%- if site.livere_comments -%}
    {%- include livere-comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>