<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include post-header.html -%}

    <main class="page-post-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/javascript">
    var ht = 100;
    var ft = 4000;
    $('.page-post-content').hide();
    $('.footer-heading').hide();
    $('.footer-col-wrapper').hide();
    setTimeout(function(){$('.page-post-content').fadeIn(ft)},ht);
    setTimeout(function(){$('.footer-heading').fadeIn(ft)},ft);
    setTimeout(function(){$('.footer-col-wrapper').fadeIn(ft)},ft);
    </script>

  </body>

</html>
